<div class="px-10 py-5">
  <h1 class="mb-10 text-4xl text-white font-semibold underline underline-offset-3 decoration-2 decoration-gray-500">Games</h1>

  <!-- Container per mostrare i dati in forma grid -->

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
    @if (games$ | async) {
      @for (game of (games$ | async)!.results; track game.id) {
        <app-game-card [game]="game"></app-game-card>
      }
    }
    @else {
      @for (skeleton of numSkeleton; track skeleton) {
        <app-card-skeleton></app-card-skeleton>
      }
    }
  </div>

  @if (games$ | async) {
    <div class="w-48 mx-auto vpy-5">
      <app-pagination [totalPages]="(games$ | async)!.count / pageSize()" />
    </div>
  }
</div>
